* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v35_140 {
  width: 100%;
  height: 1600px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v35_141 {
  width: 100%;
  height: 114px;
  background: rgb(0, 0, 128);
  padding: 42px 26px;
  margin: 124px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v35_142 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 26px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v35_144 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 272px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_143 {
  width: 122px;
  height: 20px;
  background: rgb(71, 185, 255);
  margin: 10px;
  opacity: 0.5;
  position: absolute;
  top: 47px;
  left: 518px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v35_145 {
  width: 122px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_146 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 764px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_147 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1010px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_148 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1256px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_150 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1502px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v42_104 {
  width: 125px;
  height: 30px;
  background: rgb(71, 185, 255);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1748px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v42_105 {
  width: 122px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 5px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_169 {
  width: 375px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 165px;
  left: 773px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.v42_147 {
  width: 100%;
  height: 229px;
  background: rgb(0, 0, 128);
  padding: 49px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1371px;
  left: 0px;
  overflow: hidden;
}

.v42_148 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_149 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_150 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_151 {
  width: 142px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_152 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_153 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_154 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_155 {
  width: 142px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_156 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_157 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_158 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 113px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_159 {
  width: 141px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 113px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_160 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 138px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_161 {
  width: 142px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 138px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_162 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 179px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_163 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 196px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_164 {
  width: 143px;
  height: 24px;
  background: url("../images/v42_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}

.v42_165 {
  width: 23px;
  height: 24px;
  background: url("../images/v42_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v42_166 {
  width: 23px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v42_167 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}

.v42_168 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v42_169 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}

.v42_170 {
  width: 24px;
  height: 18px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}

.v42_171 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}

.v42_172 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v42_173 {
  width: 141px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

/*# sourceMappingURL=features.css.map */
