* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v35_171 {
  width: 100%;
  height: 1600px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v35_172 {
  width: 100%;
  height: 114px;
  background: rgb(0, 0, 128);
  padding: 42px 26px;
  margin: 124px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v35_173 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 26px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v35_174 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 272px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_176 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 518px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_175 {
  width: 122px;
  height: 20px;
  background: rgb(71, 185, 255);
  margin: 10px;
  opacity: 0.5;
  position: absolute;
  top: 47px;
  left: 764px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v35_177 {
  width: 122px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_178 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1010px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_179 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1256px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_181 {
  width: 122px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1502px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v42_107 {
  width: 125px;
  height: 30px;
  background: rgb(71, 185, 255);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1748px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v42_108 {
  width: 122px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 5px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v35_200 {
  width: 375px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 165px;
  left: 773px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.v42_175 {
  width: 100%;
  height: 229px;
  background: rgb(0, 0, 128);
  padding: 49px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1371px;
  left: 0px;
  overflow: hidden;
}

.v42_176 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_177 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_178 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_179 {
  width: 142px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 49px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v42_180 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_181 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_182 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_183 {
  width: 142px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_184 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_185 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_186 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 113px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_187 {
  width: 141px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 113px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_188 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 138px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_189 {
  width: 142px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 138px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_190 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 179px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_191 {
  width: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 196px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v42_192 {
  width: 143px;
  height: 24px;
  background: url("../images/v42_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}

.v42_193 {
  width: 23px;
  height: 24px;
  background: url("../images/v42_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v42_194 {
  width: 23px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v42_195 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}

.v42_196 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v42_197 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}

.v42_198 {
  width: 24px;
  height: 18px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}

.v42_199 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}

.v42_200 {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v42_201 {
  width: 141px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

/*# sourceMappingURL=support.css.map */
