* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v35_109 {
  width: 100%;
  height: 1600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_110 {
  width: 100%;
  height: 114px;
  background: rgba(0,0,128,1);
  padding: 42px 26px;
  margin: 124px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v35_111 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 26px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v35_139 {
  width: 122px;
  height: 20px;
  background: rgba(71,185,255,1);
  margin: 10px;
  opacity: 0.5;
  position: absolute;
  top: 47px;
  left: 272px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v35_112 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v35_113 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 518px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v35_114 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 764px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v35_115 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 1010px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v35_116 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 1256px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v35_117 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 1502px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v42_101 {
  width: 125px;
  height: 30px;
  background: rgba(71,185,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1748px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v42_102 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v35_137 {
  width: 375px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 165px;
  left: 773px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v42_119 {
  width: 100%;
  height: 229px;
  background: rgba(0,0,128,1);
  padding: 49px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1371px;
  left: 0px;
  overflow: hidden;
}
.v42_120 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_121 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_122 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_123 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_124 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_125 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 79px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_126 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 79px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_127 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 79px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_128 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 96px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_129 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 96px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_130 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_131 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_132 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 138px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_133 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 138px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_134 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 179px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_135 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 196px;
  left: 1149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_136 {
  width: 143px;
  height: 24px;
  background: url("../images/v42_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v42_137 {
  width: 23px;
  height: 24px;
  background: url("../images/v42_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_138 {
  width: 23px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v42_139 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}
.v42_140 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v42_141 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v42_142 {
  width: 24px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v42_143 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v42_144 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v42_145 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 96px;
  left: 1714px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
